/ .panel.panel-default

/   .panel-body

/     .row
/       .col-sm-6.col-md-4
%br
.row
  .col-md-6.col-md-offset-3
    .thumbnail
      / %img{alt: "...", "data-src" => "holder.js/300x200"}/
      %img{alt: "Smiley face", src: "assets/micky.jpeg"}/
      .caption
        %h3 Welcome
        %p Rpx Login
        / %p
        /   %a.btn.btn-primary{href: "#", role: "button"} Button
        /   %a.btn.btn-default{href: "#", role: "button"} Button
%br
%br