// Place all the styles related to the user_profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.rpxnow_lightbox_container > img {
    height: 38px !important;
    right: -27px !important;
    top: -10px !important;
    width: 35px !important;
}
.form-control {
    height: 30px !important;
}
.modal{
  height: 350px;
  margin-left: 474px !important;
  margin-top: 29px;
  width: 500px !important;
}